<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Aaron</title>
</head>
<body>
    <!-- Setting up the header for the page and a header for section 1 which includes all non school info. -->
    <h1>Aaron Pollokoff</h1>
    <h2>Background:</h2>
    <p> Aaron Pollokoff is a one of a kind person born in April 2002 in Ellicott City, Maryland.
    Everyone who has ever met him considers themselves truly <strong> blessed</strong>.</p>
    <p> Here are some of his <strong>impressive</strong> accomplishments:</p>
    <ul>
        <li>Youngest ever to be named Aaron Brett Pollokoff.</li>
        <li>Reached a rating of 1500 on <a href="https://www.chess.com/" target="_blank">chess.com</a>.</li>
        <li>Has a famous cousin.</li>
    </ul>
    <!-- Header 2 setting up the 2nd half of he page containing the school related information. -->
    <h2>School History:</h2>
    <p> Like everything else he's done in life, Aaron has excelled in school both pre-college and in the
    <em><a href="https://www.rhsmith.umd.edu/"> UMD Business School</a></em>.</p>
    <p> Some courses he's taken are: </p>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>GEOG201</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT430</td>
            <td>Spring 2023</td>
        </tr>
        <tr>
            <td>BMGT407</td>
            <td>Spring 2024</td>
        </tr>
    </table>
    <p> One thing Aaron accomplished in each of those classes:</p>
    <ol>
        <li>Discovered cool parts of the world on Google Earth.</li>
        <li>Learned how to model data and find relations.</li>
        <li><em>So many</em> accomplishments, one being learning how to say <a href="/hello"> hello</a>.</li>
    </ol>
    <!-- Adding an image at the bottom to show that this was made for the business school.-->
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267"
         height="72" alt="Smith Logo">
</body>
</html>